<form class="row g-3" style="margin-left: 10%; margin-top: 4%;">
  <div class="col-md-5" style="margin-bottom: 2%">
    <label for="inputEmail4" class="form-label">Nome</label>
    <input type="email" class="form-control" id="nome" placeholder="Nome completo">
  </div>
  <div class="col-md-5" style="margin-bottom: 2%">
    <label for="inputPassword4" class="form-label">E-mail</label>
    <input type="password" class="form-control" id="email" placeholder="example@email.com">
  </div>
  <div class="col-10" style="margin-bottom: 2%">
    <label for="inputAddress" class="form-label">Endereço</label>
    <input type="text" class="form-control" id="endereco" placeholder="Rua de exemplo, 123">
  </div>
  <div class="col-10" style="margin-bottom: 2%">
    <label for="inputAddress2" class="form-label">Bairro</label>
    <input type="text" class="form-control" id="bairro">
  </div>
  <div class="col-md-5" style="margin-bottom: 2%">
    <label for="inputCity" class="form-label">Cidade</label>
    <input type="text" class="form-control" id="cidade">
  </div>
  <div class="col-md-3" style="margin-bottom: 2%">
    <label for="inputState" class="form-label">Estado</label>
    <select id="estado" class="form-select">
      <option selected>Choose...</option>
      <option>...</option>
    </select>
  </div>
  <div class="col-md-2" style="margin-bottom: 2%">
    <label for="inputZip" class="form-label">CEP</label>
    <input type="text" class="form-control" id="cep" placeholder="00000-000">
  </div>
  <div class="col-10" style="margin-bottom: 2%">
    <label for="inputAddress2" class="form-label">Bairro</label>
    <textarea class="form-control" placeholder="Escreva a observação aqui" id="floatingTextarea2" style="height: 100px"></textarea>
  </div>
  <div class="col-10">
    <button type="submit" class="btn btn-primary">Cadastrar</button>
  </div>
</form>