
<div class="container text-center" style="margin-top: 5%">
    <div class="row">
        <h1 class="translate-middle" style="margin-left: 50%">CRUD</h1>
    </div>
    <div class="row" style="margin-bottom: 3%;">
        <p class="h7">CRUD é um sistema que realiza as quatro operações básicas em um banco de dados, são elas:</p>
    </div>
  <div class="row align-items-center">
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="insert.png" class="card-img-top" alt="insert">
            <div class="card-body">
                <h5 class="card-title">CREATE</h5>
                <p class="card-text">É a criação de novos registros no banco de dados.<br>Comando SQL: INSERT</p>
                <a href="#" class="btn btn-primary">Cadastrar</a>
            </div>
        </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
            <img src="select.png" class="card-img-top" alt="select">
            <div class="card-body">
                <h5 class="card-title">READ</h5>
                <p class="card-text">É a leitura de registros existentes no banco de dados.<br>Comando SQL: SELECT</p>
                <a href="#" class="btn btn-primary">Consultar</a>
            </div>
        </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
            <img src="update.png" class="card-img-top" alt="update">
            <div class="card-body">
                <h5 class="card-title">UPDATE</h5>
                <p class="card-text">É a atualização de registros existentes no banco de dados.<br>Comando SQL: UPDATE</p>
                <a href="#" class="btn btn-primary">Atualizar</a>
            </div>
        </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
            <img src="delete.png" class="card-img-top" alt="delete" height="286px">
            <div class="card-body">
                <h5 class="card-title">DELETE</h5>
                <p class="card-text">É a exclusão de registros existentes no banco de dados.<br>Comando SQL: DELETE</p>
                <a href="#" class="btn btn-primary">Excluir</a>
            </div>
        </div>
    </div>
  </div>
</div>